.button-menu.btn {
  font-size: 1.562rem;
  z-index: 1;
  height: auto;
  width: auto;
  right: 2rem;
  bottom: 4rem;
  color: white;
  padding-right: 0.55rem;
  padding-top: 0.55rem;
  border-radius: 50%;
  border: hidden;
}

.button-menu.btn:hover {
  background-color: rgba(16 95 191 / 80%);
  color: rgb(198 192 192);
}
