.app-button {
  &.-gray {
    color: #b5b5b5;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }

  &.-large {
    margin: 0 auto;
    padding: 0.6rem 3rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
}
