.button-add-user.btn {
  font-size: 1.562rem;
  position: fixed;
  width: auto;
  right: 2rem;
  height: auto;
  bottom: 2rem;
  background-color: white;
  padding-right: 0.55rem;
  padding-top: 0.55rem;
}
