.button-add-user.btn {
  font-size: 1.562rem;
  position: fixed;
  z-index: 1;
  width: auto;
  right: 2rem;
  height: auto;
  bottom: 4rem;
  background-color: white;
  padding-right: 0.55rem;
  padding-top: 0.55rem;
}
