.tiles {
  padding-top: 1.87rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.87rem;
}

@media screen and (min-width: 900px) {
  .tiles {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .tiles {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  .tiles {
    grid-template-columns: repeat(5, 1fr);
    max-width: 100rem;
  }
}
