.filter-button {
  &.reset {
    color: #b5b5b5;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }

  &.apply {
    margin: 0 auto;
    text-transform: uppercase;
    cursor: pointer;
  }
}
